@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat+Alternates&family=Mulish:wght@700&family=Roboto:wght@400;700&display=swap');
    *{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root{
    --primary-color: #fff;
    --secondary-color: cadetblue;
    --font-family: 'Roboto', sans-serif;
    --font-weight-medium: 400;
    --font-weight-semi-bold: 700;
    --font-weight-bold: 900;
}
html{
 scroll-behavior: smooth;       
        }
h1{
  font-family: var(--font-family);
  text-align: center;
  position: relative;
  top: 3rem;
}
.school-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31.5rem;
}
form{
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
.student-info-one{
  line-height: 2;
  text-align: end;
  label{
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
  }input{
    margin-left: 2rem;
  }
  #one{
    height: 2.3rem;
    width: 10rem;
  }
  #add{
    background: green;
    color: white;
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    font-size: 1.2rem;
    width: 30%;
    padding: .3rem;
    margin-top: 3rem;
  }
}

  .student-info-two{
    line-height: 2;
    text-align: end;
  label{
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
  }input{
    margin-left: 2rem;
  }
  #second{
    height: 2.3rem;
    width: 10rem;
  }
  #class{
    padding-right: 2rem;
  }
}
.table-section{
  table{
    margin: auto;
  }
  table, th{
      border: 1px solid black;
      font-family: var(--font-family);
      font-size: 1rem;
      font-weight: var(--font-weight-bold);
      padding: 1rem;
  }
  table, td{
    text-align: center;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    padding: 1rem;
  }
  #update{
    margin: auto;
    text-decoration: none;
    background: green;
    color: white;
    padding: .5rem;
  }
  #delete{
    margin: auto;
    text-decoration: none;
    background: blue;
    color: white;
    padding: .5rem;
  }
}
@media (min-width: 320px) and (max-width: 768px){
    form{
      display: grid;
      align-items: center;
      // row-gap: 3rem;
    }
    .student-info-one{
      input{
        margin-left: 3rem;
        margin-top: 2rem;
      }
      .student-info-two{
        input{
          margin-left: 3rem;
          margin-top: 2rem;
        }
      }
    }
}